.navbar {
    background: #ffffff;
}

body h1 {
    font-family: 'Open Sans', sans-serif;
}
.navbar-nav a{
    color: black;
}

.navbar-nav a:hover {
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border: 1px solid #cccccc;
}


#mainCarouse{
    margin-top: -20px;
}

#carouselContainter {
    
}
#slogan {
    font-family: 'Open Sans', sans-serif;
}

#yogaGirls {
    max-width: 2560px;
    filter: brightness(95%);
}

#yellowCooking{ 
    filter: brightness(95%); 
}

#sloganBox {
   
}

#foodCard{
    height:300px;
    object-fit: cover;
}

#sledCard{
    height:300px;
    object-fit: cover;
}

#measuringTapeCard{
    height:300px;
    object-fit: cover;
}

.card-body{
    border: 1px solid #cccccc;
}

#moreInfoFormContainer {
   width: 300px;
}



#nutritionJumboTron {
    background-image: url(../images/womanEating.jpg);
    background-size: cover;
    height: 600px;
}


.jumbotron #nutritionJTContainer {
    padding-top: 350px;
}

#fitnessJumboTron {
    background-image: url(../images/pullUp.jpg);
    background-size: cover;
    height: 500px;
}

.jumbotron #fitnessJTContainer {
    padding-top: 170px;
}

#wellnessJumboTron {
    background-image: url(../images/meditate.jpg);
    background-size: cover;
    height: 500px;
}

.jumbotron #wellnessJTContainer {
    padding-top: 300px;
}

#placeholder {
    max-height: 358px;
    width: 250px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-item .active {
    border: 1px solid #54e5ff;
}

#recipeButtons button{
    background: #54e5ff;
}

#fitnessHeader{
    font-family: 'Open Sans', sans-serif;
}
/*============= Media Queries=================*/

@media screen and (max-width: 640px){
    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption h5 {
        font-size: 12px;
    }

    #yogaGirls {
        max-width: 2560px;
        filter: brightness(85%);
    }

    #overheadSquat{
        filter: brightness(90%);
    }
    
    #yellowCooking{ 
        filter: brightness(85%); 
    }

    #nutritionJumboTron h1 {
        font-size: 20px;
    }

    #enter-product{
        margin-bottom: 10px;
    }

    #fitnessJumboTron h1{
        font-size: 30px;
    }

    #wellnessJumboTron h1 {
        text-align: center;
    }
   
}